body
{

    background-color: bisque;
    {
        footer 
    {
        background-color:black;
        color:-moz-only-whitespacepoition:fixed
        botton:0;

        width:100%
        height tem
        footer p
    {
        text - align: center; 
        fontsize: 0,6 rem; 
        margin:top: 0,5 rem;
    {
        body
    {
        background - color:brisque;
        foint - family: Ba: Jainjuree
    {

        }
    
    }
}
}
}
}